html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/bulma.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    .section.container
      h1.title.is-1.rtl مكتبة هنداوي
      p.subtitle.rtl غير رسمي
      div.has-text-right
        a(href="http://hindawi.org", target="_blank", rel="noopener noreferrer") hindawi.org
      hr  
      form(action="/", method="get")
        .field.has-addons
          .control
            button.button.is-large.is-dark بحث
          .control.is-expanded
            input.input.is-large(name='search', value=search)

      hr
      .columns
        .column.is-10-desktop.is-offset-1-desktop
          if !search
            h3.title.rtl 10 كتب عشوائية
          ul.books
            each book in books
              include book.pug
    script(src="https://use.fontawesome.com/releases/v5.12.0/js/all.js", defer)